@import url(components.css);

/* #region TYPOGRAPHY */

:root {
    --primary-color: #2c3e50;
    --secondary-color: #1abc9c;
    --top-footer-bg: #3a546d;
    --custom-icon: "\f005";

}

h1 {
    font-size: 2.375rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

body {
    color: white;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

::placeholder {
    color: var(--primary-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* #endregion TYPOGRAPHY */

/* #region COMMON */

/* #endregion COMMON */

/* #region HEADER */

header {
    background-color: var(--primary-color);
}

.navbar-toggler {
    border: 2px solid gray;

}

/* #endregion HEADER */

/* #region MAIN */

main section:nth-of-type(odd) {
    background-color: var(--secondary-color);
}

main section:nth-of-type(even) {
    color: var(--primary-color)
}

.jumbo .professions {
    font-size: 1.25rem;
}

.about p {
    font-size: 1.25rem;
}

.btn-custom {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1abc9c;
    --bs-btn-border-color: #1abc9c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #28d4b2;
    --bs-btn-hover-border-color: #28d4b2;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #28d4b2;
    --bs-btn-active-border-color: #28d4b2e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1abc9c;
    --bs-btn-disabled-border-color: #1abc9c;
}

/* #endregion MAIN */

/* #region FOOTER */

footer .top-footer {
    background-color: var(--top-footer-bg);
    font-size: 1.25rem;
}

footer .bottom-footer {
    background-color: var(--primary-color);
    font-size: 14px;
}

/* #endregion FOOTER */

/* #region MEDIA QUERIES */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    header .navbar-brand {
        font-size: 1.875rem;
    }

    header .navbar-nav {
        font-size: 1.125rem;
        gap: 20px;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.25rem;
    }

    .jumbo .professions {
        font-size: 1.6875rem;
    }

    .footer-title {
        font-size: 1.625rem;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }

    .custom-rule .line-decoration {
        width: 170px;
        margin: 0 33px 0 33px;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}

/* #endregion MEDIA QUERIES */