@import url(components.css);

/* #region TYPOGRAPHY */

:root {
    --primary-color: #2c3e50;
    --secondary-color: #1abc9c;
    --top-footer-bg: #3a546d;
    --custom-icon: "\f005";

}

h1 {
    font-size: 2.375rem;
}


body {
    color: white;
}

a {
    text-decoration: none;
}

/* #endregion TYPOGRAPHY */

/* #region COMMON */

/* #endregion COMMON */

/* #region HEADER */

header {
    background-color: var(--primary-color);
}

.navbar-toggler {
    border: 2px solid gray;

}

/* #endregion HEADER */

/* #region MAIN */

main section:nth-of-type(odd) {
    background-color: var(--secondary-color);
}

main section:nth-of-type(even) {
    color: var(--primary-color)
}

.jumbo .professions {
    font-size: 1.25rem;
}

.about p {
    font-size: 1.25rem;
}

/* #endregion MAIN */

/* #region FOOTER */

footer .top-footer {
    background-color: var(--top-footer-bg);
}

footer .bottom-footer {
    background-color: var(--primary-color);
}

/* #endregion FOOTER */

/* #region MEDIA QUERIES */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    header .navbar-brand {
        font-size: 1.875rem;
    }

    header .navbar-nav {
        font-size: 1.125rem;
        gap: 20px;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.25rem;
    }

    .jumbo .professions {
        font-size: 1.6875rem;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }

    .custom-rule .line-decoration {
        width: 170px;
        margin: 0 33px 0 33px;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}

/* #endregion MEDIA QUERIES */